

.tblEstilo{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;

    & thead{
        background-color: bisque;
        text-align: center;

        & th{
            border: 2px solid black;
        }
    }

    & tbody{
        & tr{
            &:hover{
                background-color: #e2e2e2;
            }

            & td{
                border: 2px solid black;

                &:first-child{
                    text-align: center;
                }
                &:last-child{
                    text-align: center;
                }

                &:nth-child(5){
                    text-align: center;
                }
            }
        }
    }

    & tfoot{
        & tr{
            & td{
                border: 2px solid black;
                text-align: center;
            }
        }
    }
}